.filter {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 72px;
  }
}

.filter__form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.filter__button-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    align-self: center;
  }
}
