.map__wrap {
  width: 100%;
  height: 350px;
  background-image: url("../img/map/map-mobile.jpg");
  background-repeat: no-repeat;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 3px;
    background-image: url("../img/map/map-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    background-image: url("../img/map/map-desktop.jpg");
  }
}

.map__frame {
  width: 100%;
  display: block;
  max-height: 350px;
}
