.range {
  position: relative;
  top: 15px;
  left: 2px;
  height: 4px;
  background-color: $grey;
  margin-bottom: 20px;
}

.range__bar {
  position: absolute;
  height: 4px;
  background-color: $black-light-opacity;
}

.range__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background: $black-light-second;
  cursor: pointer;

  &--min {
    top: -8px;
    left: 0;
  }

  &--max {
    top: -8px;
    right: -10px;
  }

  &:hover {
    box-shadow: 0 2px 14px 0 $grey-opacity;
  }

  &:active {
    outline: 2px solid #83b3d3;
  }
}
