.results {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 72px;
  }
}

.results__list {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr;
  gap: 0 18px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
