.sort {
  width: 100%;
  padding: 11px 40px 12px 18px;
  border: 2px solid $grey-dark;
  border-radius: 4px;
  background-image: url("../img/decor-icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  color: $black-light;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    border-color: #68a2ca;
  }
}
