.subfact {
  padding: 0 18px;

  @media (min-width: $tablet-width) {
    width: 33.33%;
    padding: 58px 32px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 50px 83px;
  }
}

.subfact__text {
  padding-left: 46px;

  &--food {
    padding-left: 52px;
  }

  &--souvenir {
    padding-left: 45px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 98px;
    padding-left: 0;
    text-align: center;
  }
}

.subfact__icon {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $tablet-width) {
      width: 75px;
      height: 75px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--home::before {
    background-image: url("../img/decor-icons/home-icon.svg");
  }

  &--food::before {
    background-image: url("../img/decor-icons/food-icon.svg");
  }

  &--souvenir::before {
    background-image: url("../img/decor-icons/souvenir-icon.svg");
  }
}

.subfact__title {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}
