$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-opacity: rgba(129, 179, 210, 0.6);
$blue-opacity-light: rgba(129, 179, 210, 0.3);
$blue-dark: #5496bd;
$white: #ffffff;
$white-opacity: rgba(#ffffff, 0.3);
$black: #000000;
$black-opacity: rgba(0, 0, 0, 1);
$black-light: #333333;
$black-light-second: #625f5f;
$black-light-opacity: rgba(51, 51, 51, 0.3);
$grey: #eeeeee;
$grey-second: rgba(229, 229, 229, 1);
$grey-opacity: rgba(0, 0, 0, 0.3);
$grey-dark: #e6e6e6;
$grey-dark-second: #d5d5d5;
$grey-border: #d6d6d6;
$grey-bg: #f2f2f2;
$grey-subtext: rgba(51, 51, 51, 0.6);
$grey-active: #b3b3b3;
$brown: #766357;
$brown-dark: #615048;
$brown-light: #756157;
$green: #587b46;
$green-second: #6c9e42;
$green-light: #7db54f;
$grey-shadow: rgba(0, 1, 1, 0.2);
$main-font: "PT Sans", "Arial", sans-serif;
$mobile-only: 767px;
$tablet-width: 768px;
$pre-desktop-width: 1199px;
$desktop-width: 1440px;
